.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    background:#FFF;
    .author {
        margin: auto;
        color: #39C5BB;
        font-weight: 500;
        font-size: 1.6rem;
    }
    .slogan{
        margin: auto;
        color: #d6504f;
        font-weight: 500;
        font-size: 1.6rem;
        padding-top: 1rem;
    }
}